[mysqld]
# 设置服务器id
server-id = 1
# 设置字符类型
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci
# 最大连接数
max_connections = 100
# 设置临时表大小
tmp_table_size = 32M
max_heap_table_size = 32M
# 开启binlog
log-bin = mysql-bin
# 设置binlog格式为ROW
binlog_format = ROW
# 日志文件大小限制
max_binlog_size = 100MB
# 同步二进制文件
sync_binlog = 1
binlog_transaction_dependency_tracking = WRITESET
# 忽略的数据库，不进行复制
binlog-ignore-db = information_schema
binlog-ignore-db = performance_schema
binlog-ignore-db = sys
# relay_log
skip_replica_start = 1
# 开启全局事务ID
gtid_mode = ON
enforce_gtid_consistency = ON
# 启用 CTID
transaction_write_set_extraction = XXHASH64
# 记录 GTID 信息到文件的频率
gtid_executed_compression_period = 1000
log_replica_updates = 1